In [1]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

In [2]:
os.getcwd()

'/Users/kelson/Kaggle'

In [3]:
# Read in unscrambled category data
path_to_categories_json = '../Downloads/categories.json'
with open(path_to_categories_json) as data_file_categories:
    categories = json.load(data_file_categories)
    
# Read in Kingdom and category ID info
categories_df = pd.DataFrame(categories)[['kingdom', 'id']].rename(columns={'id':'category_id'})

In [4]:
categories_df.head()

    kingdom  category_id
0  Animalia            0
1  Animalia            1
2  Animalia            2
3  Animalia            3
4  Animalia            4

In [5]:
def retrieve_and_trim(path):
    # Load Data from JSON
    with open(path) as data_file:
        anns = json.load(data_file)
    # Read in Image + Category Pairs
    anns_df = pd.DataFrame(anns['annotations'])[['image_id', 'category_id']]
    
    # Read in Image + File_Name Pairs
    img_df = pd.DataFrame(anns['images'])[['id', 'file_name']].rename(columns={'id':'image_id'})

    # Merge 
    df_file_cat = pd.merge(img_df, anns_df, on='image_id')
    
    # Add category name to file
    df_file_w_kingdom = pd.merge(df_file_cat, categories_df, on='category_id')
    
    # Retain only the records with the category as Plantae or Fungi
    df_file_w_kingdom = df_file_w_kingdom[df_file_w_kingdom['kingdom'].isin(['Plantae', 'Fungi'])]

    return df_file_w_kingdom

In [6]:
path_to_train_data = '../Downloads/train2018.json'
path_to_val_data = '../Downloads/val2018.json'

# Retrieve and parse data
train_df = retrieve_and_trim(path_to_train_data)
val_df = retrieve_and_trim(path_to_val_data)

train_df.head()

,image_id,file_name,category_id,kingdom
0,1,train_val2018/Plantae/7477/3b60c9486db1d2ee875...,7477,Plantae
1,4336,train_val2018/Plantae/7477/3d5d7f1e0eedb1df3aa...,7477,Plantae
2,4736,train_val2018/Plantae/7477/c0843babf2fe1b24b6c...,7477,Plantae
3,10022,train_val2018/Plantae/7477/1645a80d3bb42125d3f...,7477,Plantae
4,10296,train_val2018/Plantae/7477/5b96d95868a7e97b97e...,7477,Plantae

In [8]:
len(val_df['kingdom'].unique())

2

In [9]:
# https://www.kaggle.com/hsinwenchang/keras-mobilenet-data-augmentation-visualize
len(train_df['image_id'])

125664